/* Write your CSS here */

.body-container {
  display: flex;

  width: 100%;
  min-height: 50vh;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sides-bar {
  background-color: #e2e8f0;
  color: #475569;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.middle-bar {
  background-color: #f1f5f9;
  color: #475569;
  width: 80%;
  max-width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: 1;
}

.heading {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}
.para {
  margin-top: 20px;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
}
.ul-items {
  margin-top: 30px;
  margin-left: 50px;
  list-style-type: none;
}

li p {
  margin-bottom: 20px;
}

.right-li {
  border: 2px solid #64748b;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
